.teiaiTable {
    table-layout: auto;
    width: 100%;
    display: table;
}

.tableHeader {
    white-space: nowrap;
    display: inline-flex;
    min-width: fit-content;
}

.headerText {
    width: fit-content;
}
  

.tableBody {
    width: fit-content;
    white-space: nowrap;
}

/* Pagination */
.paginationRow {
    display: inline-flex;
    align-items: baseline;
    margin: 0.5rem 0 0 1rem;
}

.activePage,
.disabledArrow {
    color: red;
    cursor: not-allowed;
}
.paginationIcons {
    margin-left: 5%
}
.pagesRow {
    display: inline-flex;
}
.paginationItem {
    margin: 0 0.1rem;
}